* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    overscroll-behavior: none;
}

body {
    background-image: linear-gradient(to bottom, white, rgb(229, 229, 229));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;
}

p {
    font-size: 16px;
}

#nav-bar {
    margin: 0;
    padding: 0;

    position: sticky;
    top: 0;
    z-index: 1;
    
    overflow: hidden;

    background-color: cornflowerblue;
    color: white;
    list-style-type: none;
    box-shadow: 0px 6px 8px #9f9f9f;
}

#logo {
    margin: 20px;
    text-align: left;
}

#logo:hover {
    color: rgb(229, 229, 229);
}

#nav-bar li {
    float: left;
}

#nav-bar a {
    display: block;
    color: white;
    text-decoration: none;
    user-select: none;
}

.nav-button {
    width: 160px;
    text-align: center;
    padding: 20px;
}

.nav-button:hover {
    background-color: rgb(80, 138, 246);
    cursor: pointer;
}

.dropdown-content {
    position: fixed;
    top: 70px;

    display: none;

    padding: 0;

    list-style-type: none;
    background-color: rgb(229, 229, 229);
}

.dropdown-content a {
    color: black !important;
    padding: 20px 5px !important;
}

.dropdown-content a:hover {
    background-color: rgb(211, 211, 211) !important;
}

.dropdown-content li {
    float: none !important;
}

.dropdown-active a {
    background-color: rgb(80, 138, 246);
}

.dropdown-active .dropdown-content {
    display: block;
}

.dropdown-active .dropdown-content a {
    background-color: rgb(229, 229, 229);
}

#main-content {
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
}

.video-container {
    width: 80%;
    padding-top: 45%; /* 16:9 aspect ratio*/
    position: relative;
    overflow: hidden;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (max-width: 800px) {
    .nav-button {
        width: 20vw;
    }
}

@media (max-width: 600px) {
    #logo {
        width: 100vw;
    }

    .nav-button {
        width: 33vw;
    }

    .dropdown-content a {
        font-size: 14px;
    }

    .dropdown-content {
        top: 140px;
    }
}

@media (max-width: 350px) {
    #nav-bar a {
        font-size: 12px;
    }
}